@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nova+Mono&family=Orbitron&family=Syne+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
}

.conti{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    outline: 7px solid salmon;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.clock{
    font-weight: 600;
    font-family: 'Nova Mono', monospace;
    font-size: 4rem;
    margin: 10px;
    color: rgb(239, 236, 236);
}

.date{
    color: white;
    margin-top: 20px;
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
}

@media (max-width:450px){
    
    .container{
    flex-direction: column;
    padding: 20px 50px;
    }

    .dot{
        display: none;
    }

    .hour, .minute{
        padding: 20px;
        border-bottom: 4px solid rgb(239, 236, 236);
    }

}


